# scaner-meme-coin-sol# ==================================
# COPY FILE INI JADI .env
# LALU ISI DENGAN DATA KAMU
# ==================================

# === WALLET (dari Phantom/Solflare) ===
PRIVATE_KEY=
WALLET_ADDRESS=

# === RPC (dari https://helius.dev) ===
SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=0a8bc160-bcd0-4de9-afe1-855ed86fb764
SOLANA_WS_URL=wss://mainnet.helius-rpc.com/?api-key=0a8bc160-bcd0-4de9-afe1-855ed86fb764
HELIUS_API_KEY=0a8bc160-bcd0-4de9-afe1-855ed86fb764
BIRDEYE_API_KEY= #YOUR_BIRDEYE_API_KEY

# === TELEGRAM (dari @BotFather) ===
TELEGRAM_BOT_TOKEN=8872652782:AAGXLdYgnkkLqsLvtIIEJt2R8JmgLL-OgRI
TELEGRAM_CHAT_ID=614084826

# === TRADING ===
MAX_SOL_PER_TRADE=0.1
STOP_LOSS_PERCENT=30
TAKE_PROFIT_PERCENT=200
MAX_CONCURRENT_TRADES=3
SLIPPAGE_BPS=500

# === BOT MODE ===
DRY_RUN=true
DEBUG=false